#main {
    text-align: center;
}

#text-box {
    background: rgba(0, 0, 0, 0.6);  /* semi-transparent black */
    color: white;                    /* text color */
    border-radius: 10px;             /* rounded corners */
    font-size: fit-content;              /* shrink to text */
    padding: 1.5em;                  /* space inside the box */
    margin-top: 2em;                     /* space around the box */
    max-width: 100vw;
    height: 70vh;
    max-height: 70vh;
    font-size: 1.25em;
}

/* Background Image */
body {
    background-image: url('../graphics/japan.gif');
    background-size: cover;       /* Scale image to cover entire window */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center;  /* Center the image */
    margin: 0;                    /* Remove default body margin */
    height: 100vh;                /* Ensure body fills viewport height */
}